/*DEFAULT*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
	--yellow: #ffd100;
	--orange: #ff6a13;
	--darkGray: #53565a;
	--midGray: #888b8d;
	--white: #fff;
	--roundness: 1.25em;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/cover.jpg');
	background-color: rgb(255, 255, 255);
	background-size: cover;
}

hr {
	border-color: #c3c3c3;
}

.form-control:focus {
	border-color: none;
	box-shadow: none;
}

.form-select:focus {
	border-color: #ced4da;
	/* Cor da borda padrão do Bootstrap */
	box-shadow: none;
	/* Sombra do foco padrão do Bootstrap */
	outline: none;
	/* Remover a borda de destaque */
}

.vjs-matrix {
	width: 100%;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset:not(:first-of-type) {
	display: none;
}

form#idform {
	max-width: 1000px;
	border: 1px solid var(--neutral-300, #EFF0F6);
	background: var(--neutral-100, #FFF);
	box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
}

h1 {
	font-size: 1.5rem;
	line-height: 2.1rem;
	color: #2C3E50;
	margin-bottom: 10px;
}

h2 {
	font-weight: normal;
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 20px;
}

p {
	font-weight: normal;
	font-size: 1rem;
	color: #666;
	margin-bottom: 20px;
}

/*BUTTONS*/
.action-button {
	width: 100px;
	background: #00b0a9;
	font-weight: 400;
	color: white;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	float: right;
}

.action-button:hover,
.action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #00b0a9;
}

.action-button-previous {
	width: 100px;
	background: #e5e5e5;
	font-weight: 400;
	color: #000;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	float: right;
}

.action-button-previous:hover,
.action-button-previous:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*PROGRESSBAR*/
.progress {
	height: 20px;
	margin-bottom: 20px;
}

.progress-bar {
	width: 0;
	height: 100%;
	background-color: #00b0a9;
	transition: width 0.3s ease;
}

/*MODAl COM IMAGEM*/
#modal-myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#modal-myImg:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 99999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
}

#modal-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#modal-caption {
	animation-name: modal-zoom;
	animation-duration: 0.6s;
}

@keyframes modal-zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

/*INPUT RADIO*/
.inputGroup {
	background-color: transparent;
	display: block;
	margin: 10px 0;
	position: relative;
}

.inputGroup label {
	padding: 15px;
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	border: 1px solid var(--neutral-300, #EFF0F6);
	background: var(--neutral-100, #FFF);
	box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
	font-weight: normal;
}

.inputGroup label:before {
	width: 100%;
	height: 100%;
	content: "";
	background-color: #00b0a9;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked~label {
	color: #fff;
}

.inputGroup input:checked~label.cerveja {
	color: #000;
}


.inputGroup input:checked~label:before {
	
}

.inputGroup input:checked~label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

.inputGroup .outro input {
	width: 100%;
	height: auto;
	visibility: visible;
	position: initial;
	border: none;
	transform: initial;
	padding: 15px 0;
	border-bottom: 1px solid #EFF0F6;
	float: right;
}

.inputGroup .outro svg {
	color: #39b0a9;
	width: 31px;
	height: auto;
}

/*INPUT TEXT*/
fieldset input.form-control {
	padding: 15px;
	font-size: 17px;
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	border: 1px solid var(--neutral-300, #EFF0F6);
	background: var(--neutral-100, #FFF);
	box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

/*GRAU DE CONCORDÂNCIA 0 a 5*/
.escala0a5 {
	gap: 4px;
	color: #fff;
}

.escala0a5 .inputGroup {
	flex: 1;
	width: 100%;
}

.escala0a5 .inputGroup label {
	text-align: center;
	min-height: 90px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.escala0a5 .inputGroup label:after {
	display: none;
}



.escala0a5 .inputGroup:nth-child(1) label {
    background-color: rgba(197, 0, 18, 0.7);
}

.escala0a5 .inputGroup:nth-child(2) label {
    background-color: rgba(254, 2, 51, 0.7);
}

.escala0a5 .inputGroup:nth-child(3) label {
    background-color: rgba(249, 171, 0, 0.7);
}

.escala0a5 .inputGroup:nth-child(4) label {
    background-color: rgba(0, 224, 97, 0.7);
}

.escala0a5 .inputGroup:nth-child(5) label {
    background-color: rgba(5, 184, 72, 0.7);
}


.escala0a5 .inputGroup:nth-child(1) input:checked + label {
    background-color: rgba(197, 0, 18, 1); 
}

.escala0a5 .inputGroup:nth-child(2) input:checked + label {
    background-color: rgba(254, 2, 51, 1);
}

.escala0a5 .inputGroup:nth-child(3) input:checked + label {
    background-color: rgba(249, 171, 0, 1);
}

.escala0a5 .inputGroup:nth-child(4) input:checked + label {
    background-color: rgba(0, 224, 97, 1);
}

.escala0a5 .inputGroup:nth-child(5) input:checked + label {
    background-color: rgba(5, 184, 72, 1);
}















@media(max-width: 700px) {
	.escala0a5 {
		flex-direction: column;
	}

	.escala0a5 .inputGroup {
		margin: 0;
	}
}






















/*ESTRELAS*/
.rating {
  display: flex;
  width: 100%;
  justify-content: start;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 65px;
  height: 65px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  width: 100%;
}































/*GRAU DE CONCORDÂNCIA 0 a 10*/
.navegacaosatisfation .not,
.navegacaosatisfation .yes {
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 600;
}

.navegacaosatisfation .not {
	background-image: linear-gradient(to right, #c50012, #ff6503);
}

.navegacaosatisfation .yes {
	background-image: linear-gradient(to right, #b5e419, #36c547);
}

.escala0a10 {
	gap: 4px;
	color: #fff;
}

.escala0a10 .inputGroup {
	flex: 1;
}

.escala0a10 .inputGroup label:after {
	display: none;
}

.escala0a10 .inputGroup label {
	text-align: center;
	border-radius: 8px;
	font-weight: 600;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.escala0a10 .inputGroup:nth-child(1) label {
    background-color: rgba(197, 0, 18, 0.7);
}

.escala0a10 .inputGroup:nth-child(2) label {
    background-color: rgba(231, 0, 30, 0.7);
}

.escala0a10 .inputGroup:nth-child(3) label {
    background-color: rgba(249, 53, 4, 0.7);
}

.escala0a10 .inputGroup:nth-child(4) label {
    background-color: rgba(255, 101, 3, 0.7);
}

.escala0a10 .inputGroup:nth-child(5) label {
    background-color: rgba(250, 177, 4, 0.7);
}

.escala0a10 .inputGroup:nth-child(6) label {
    background-color: rgba(254, 214, 0, 0.7);
}

.escala0a10 .inputGroup:nth-child(7) label {
    background-color: rgba(227, 236, 0, 0.7);
}

.escala0a10 .inputGroup:nth-child(8) label {
    background-color: rgba(218, 236, 1, 0.7);
}

.escala0a10 .inputGroup:nth-child(9) label {
    background-color: rgba(181, 228, 25, 0.7);
}

.escala0a10 .inputGroup:nth-child(10) label {
    background-color: rgba(156, 221, 36, 0.7);
}

.escala0a10 .inputGroup:nth-child(11) label {
    background-color: rgba(54, 197, 71, 0.7);
}


.escala0a10 .inputGroup:nth-child(1) input:checked + label {
	background-color: rgba(197, 0, 18, 1);
}
.escala0a10 .inputGroup:nth-child(2) input:checked + label {
    background-color: rgba(231, 0, 30, 1);
}
.escala0a10 .inputGroup:nth-child(3) input:checked + label {
    background-color: rgba(249, 53, 4, 1);
}
.escala0a10 .inputGroup:nth-child(4) input:checked + label {
	background-color: rgba(255, 101, 3, 1);
}
.escala0a10 .inputGroup:nth-child(5) input:checked + label {
	background-color: rgba(250, 177, 4, 1);
}
.escala0a10 .inputGroup:nth-child(6) input:checked + label {
    background-color: rgba(254, 214, 0, 1);
}
.escala0a10 .inputGroup:nth-child(7) input:checked + label {
	background-color: rgba(227, 236, 0, 1);
}
.escala0a10 .inputGroup:nth-child(8) input:checked + label {
	background-color: rgba(218, 236, 1, 1);
}
.escala0a10 .inputGroup:nth-child(9) input:checked + label {
    background-color: rgba(181, 228, 25, 1);
}
.escala0a10 .inputGroup:nth-child(10) input:checked + label {
    background-color: rgba(156, 221, 36, 1);
}
.escala0a10 .inputGroup:nth-child(11) input:checked + label {
    background-color: rgba(54, 197, 71, 1);
}
@media(max-width: 700px) {
	.escala0a10 label {
		padding: 10px 0;
	}

	.navegacaosatisfation .not,
	.navegacaosatisfation .yes {
		font-size: 13px;
	}
}









/*CHECKBOX IMAGENS*/
.checkboximagens  { 
	margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.checkboximagens .inputGroup label {
	padding: 0px;
	overflow: initial;
	border: 5px solid #fff;
}

.checkboximagens .inputGroup label {
	border-radius: 0;
}

.checkboximagens .inputGroup img {
	width: 100%;
	border-radius: 0;
}


.checkboximagens .inputGroup label:after {
	top: initial;
	bottom: -18px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	transform: translateY(0);
}

.checkboximagens .inputGroup label:before {
	transition: .5s;
}

.checkboximagens .inputGroup label:hover:before {
	opacity: 0.5;
	z-index: 1;
	background-color: #000000;
}


.inputGroup input:checked~label {
    border: 5px solid #54E0C7;
}

.checkboximagens .inputGroup small {
	font-size: 18px;
}

.checkboximagens .inputGroup .icon_lupa {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 50;
	opacity: 0;
	transition: .5s;
}

.checkboximagens .inputGroup label:hover .icon_lupa {
	opacity: 1;
}

.checkboxbanco  {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}
.checkboxbanco  img{
	max-height: 35px;
    object-fit: cover;
}

.checkboxbanco .inputGroup label {
	border-radius: 0;
	min-height: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 5px solid #fff;
}

.checkboxbanco .inputGroup label:after {
	display: none;
}



#modalcheckbox .modal-content {
	width: auto;
}
#modalcheckbox .modal-content .modal-body{
	padding: 0;
}

@media(max-width: 700px) {
	.checkboximagens .inputGroup small {
		font-size: 18px;
	}
	.checkboximagens  { 
		grid-template-columns: 1fr 1fr;
		margin-bottom: 30px;
	}
}


.container-gondola {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;

}

.container-agrupamento .inputGroup {
	margin: 0;
}

.container-agrupamento.dumb {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

.container-agrupamento {}

.container-imagem {
	position: relative;
	margin-right: 2px;
}

#modalgondola .modal-content .modal-body {
	padding: 0;
}

#modalgondola .modal-content {
	width: auto;
}

.container-imagem label img {
	display: inline !important;
	width: 100%;
	border-radius: 0;
}


.container-imagem label {
	padding: 0px;
	border-radius: 0;
	overflow: initial;
	border: 5px solid #fff;
}

.container-agrupamento .inputGroup label:after {
    top: initial;
    bottom: -10px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(0);
}


.container-agrupamento .inputGroup .icon_lupa {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 50;
	opacity: 0;
	transition: .5s;
}

.container-agrupamento .inputGroup label:hover .icon_lupa {
	opacity: 1;
}






.container-agrupamento.inputGroup label:before {
	transition: .5s;
}

.container-agrupamento .inputGroup label:hover:before {
	opacity: 0.5;
	z-index: 1;
	background-color: #000000;
}










.container-agrupamento .inputGroup input:checked~label img {
	opacity: 0.5;
}

.container-agrupamento p {
	background-color: #ededed;
	border-radius: 10px;
	margin: 10px 5px;
	font-size: 13px;
}

@media(max-width: 700px) {
	.container-gondola {
		display: grid;
		grid-template-columns: 1fr;
	}

	.container-agrupamento {
		margin: 10px 0;
	}

	.container-agrupamento p {
		font-size: 18px;
	}
	.checkboxbanco  {
		margin-bottom: 30px;
		grid-template-columns: 1fr 1fr;
	}
}


/*SELECT*/
.form-row {
	display: block;
	margin: 20px 0;
}

.select {
	display: block;
	position: relative;
	vertical-align: middle;
	text-align: left;
}

.select>span {
	display: block;
	color: #636363;
}

.select>input {
	padding: 15px;
	font-size: 17px;
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	border: 1px solid var(--neutral-300, #EFF0F6);
	background: var(--neutral-100, #FFF);
	box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

.select>input:hover,
.select>input:focus,
.select>input:active,
.select>input.active {
	border: 1px solid var(--neutral-300, #EFF0F6);
}

.select>input:focus,
.select>input:active,
.select>input.active {
	box-shadow: 0px 2px 6px 0px rgb(19 18 66 / 16%);
}

.select>input:focus~ul,
.select>input:active~ul {
	max-height: 300px;
	z-index: 999;
}

.select>ul {
	width: 98%;
	display: block;
	position: absolute;
	list-style: none;
	overflow: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	max-height: 0;
	z-index: 998;
	transition: max-height 300ms ease-in-out;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 60px;
}

.select>ul li {
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 10px 15px;
	background-color: #fff;
}

.select>ul li:hover {
	background-color: #00b0a9;
	color: #fff;
}

.select>ul li:focus,
.select>ul li:active,
.select>ul li.active {
	background-color: #f0f0f0;
}

.select>ul li+li {
	border-top: 1px solid #d7d7d7;
}

.select>select {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	opacity: 1e-9;
}

/*LABEL*/
label {
	font-weight: 600;
}

/* SOMATORIA */
#total {
	background-color: #fff;
}

.somatoria .resultado {
	background: #f7f5ff;
	border-radius: 20px;
	padding: 10px 50px;
}

.somatoria .resultado input {
	border: 5px solid #e4e2e9
}

.somatoria input::placeholder {
	color: #c1c1c1;
}

/*ACCORDION*/
.accordion.accordion-flush .accordion-button {
	color: #fff;
	padding: 16px;
	line-height: 24px;
	font-weight: 600;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-radius: 16px !important;
	font-size: 14px;
	margin-bottom: 5px;
	background-color: #00b0a9;
	outline: none !important;
	box-shadow: none;
}

.accordion.accordion-flush .accordion-button:focus {
	outline: none !important;
}


.accordion.accordion-flush .accordion-body {
	padding: 0;
}

.accordion.accordion-flush .accordion-item {
	border: none;
}

.accordion.accordion-flush .accordion-item .inputGroup input:checked~label{
	color: #000;
}

.accordion-button::after {
	color: #fff;
}

/*TEXTAREA*/
textarea.form-control {
	padding: 10px 20px;
	font-size: 17px;
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	border: 1px solid var(--neutral-300, #EFF0F6);
	background: var(--neutral-100, #FFF);
	box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

/*TABELA*/
.col-table-flex .inputGroup label:after {
	display: none;
}

.col-table-flex img {
	border-radius: 4px;
}

.col-table-flex .item-table {
	padding: 0 15px;
}

.col-table-flex .item-table label {
	font-size: 15px;
	font-weight: 500;
}

.col-table-flex .item-table b {
	font-size: 15px;
	font-weight: 600;
}

.col-table-flex .item-table:nth-child(2),
.col-table-flex .item-table:nth-child(4),
.col-table-flex .item-table:nth-child(6) {
	background-color: #f1f1f1;
}

@media(max-width: 700px) {
	.col-table-flex .item-table {
		flex-direction: column;
		padding: 25px;
		border-radius: 8px;
	}

	.col-table-flex .item-table {
		border: 1px solid #ededed;
		margin-bottom: 15px;
	}

	.col-table-flex .item-table img {
		width: 70px;
	}

	.col-table-flex .item-table b {
		font-size: 25px;
	}

	.col-table-flex .item-table label {
		font-size: 18px;
	}

	.col-table-flex .item-table .opcoes {
		flex-direction: column;
		gap: 0 !important;
		margin-top: 20px;
	}

	.col-table-flex .item-table .opcoes .inputGroup {
		margin: 5px 0;
	}
}

.col-table {
	width: 20%;
	padding: 15px;
	border: 1px solid #e7e7e7;
	border-left: 0;
}

.col-table img {
	width: 50px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.container .row .col-table:nth-child(1) {
	border-left: 1px solid #e7e7e7;
}

.container .row .col-table:nth-child(2),
.container .row .col-table:nth-child(4) {
	background: #f5f5f5;
}

.col-table select {
	font-size: 13px;
	padding: 10px 20px;
}

.col-table b {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
}

.col-table span {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
	color: #000;
}

.col-table .inputGroup label {
	width: 40px;
	height: 40px;
	border-radius: 200px;
}

.col-table .inputGroup label:after {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 700px) {
	.col-table {
		width: 100%;
		text-align: left !important;
	}

	.container .row .col-table:nth-child(2),
	.container .row .col-table:nth-child(4) {
		background: #fff;
	}

	.col-table {
		border: 1px solid #e7e7e7;
		margin-bottom: 15px;
	}

	.col-table b {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 0;
	}

	.col-table span {
		font-size: 16px;
	}

	.col-table .inputGroup {
		justify-content: start !important;
	}
}


.bank-header p {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	color: #000;
	padding: 0;
}

.opcoes.opcoesbank select {
	margin: 0;
	font-size: 13px;
}

.bankmobile .col-2 {
	display: none;
}
.bankmobile .col-12 {
	display: none;
}
.opcoes.opcoesbank.bankgrid p {
	display: none;
}
.bankmobile p {
	display: none;
}


.bankmobile .col-2 img {
	width: 35px;
}
.bankmobile .col-12 img {
	width: 35px;
}

@media(max-width: 700px) {
	.bank-header {
		display: none !important;
	}
	.bankmobile {
		margin-top: 20px;
	}
	.bankmobile .col-2 {
		display: block;
	}
	.bankmobile .col-12{
		display: block;
	}
	.bankmobile p {
		display: block;
		font-weight: 600;
	}
	.col-table-flex .item-table .opcoes.opcoesbank {
		margin-top: 0;
	}
	.col-table-flex .item-table .opcoes.opcoesbank b {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 0px;
		color: #000;
	}
	.input_d_flex {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: start;
	}
	.input_d_flex label {
		width: 100%;
	}
	.opcoes.opcoesbank.bankgrid{
		display: grid !important;
		grid-template-columns: 1fr;
	}
	.opcoes.opcoesbank.bankgrid p{
		display: block;
	}
}


.col-table-new {
	padding: 15px;
}

.col-table-new img {
	width: 50px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.container .row .col-table-new:nth-child(1) {
	border-left: 1px solid #e7e7e7;
}

.container .row .col-table-new:nth-child(2),
.container .row .col-table-new:nth-child(4) {
	background: #f5f5f5;
}

.col-table-new select {
	font-size: 13px;
	padding: 10px 20px;
}

.col-table-new b {
	font-size: 15px;
	font-weight: 600;
}

.col-table-new span {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
	color: #000;
}

.col-table-new .inputGroup label {
	width: 40px;
	height: 40px;
	border-radius: 200px;
}

.col-table-new .inputGroup label:after {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 700px) {
	.col-table-new {
		width: 100%;
		text-align: left !important;
		flex-direction: column;
		gap: 20px !important;
	}

	.col-table-new .bankmobile {
		flex-direction: column;
	}

	.col-table-new .bankmobile .col-2 {
		width: 40px;
	}

	.col-table-new .bankmobile .col-2 img {
		padding: 0 !important;
	}

	.col-table-new .inputGroup {
		margin: 0;
	}

	.container .row .col-table-new:nth-child(2),
	.container .row .col-table-new:nth-child(4) {
		background: #fff;
	}

	.col-table-new {
		border: 1px solid #e7e7e7;
		margin-bottom: 15px;
	}

	.col-table-new b {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 0;
	}

	.col-table-new span {
		font-size: 16px;
	}

	.col-table-new .inputGroup {
		justify-content: start !important;
	}
}


/*CHECKBOX RANKING*/
.ordem {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #54E0C7;
	border-radius: 50%;
	z-index: 222;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #54E0C7;
	color: #fff;
}

#ordemEscolha {
	display: none;
}

/*RANGE SLIDER*/
#slider {
	display: grid;
	justify-content: stretch;
	width: 100%;
	max-width: 37.5em;
}

#slider input {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 100%;
	position: relative;
	z-index: 1;
	opacity: 0;
	height: calc(var(--roundness) * 2);
	cursor: pointer;
}

#slider input:focus+.outer {
	box-shadow: 0 0 0 0.1em var(--white), 0 0 0 0.2em var(--orange);
}

#slider input:focus+.outer .emoji {}

#slider>label {
	width: 100%;
	margin: auto;
	font-size: 1.5em;
	padding: 0 0 0.5em;
}

#slider .outer {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 100%;
	border-radius: var(--roundness);
	margin: auto;
	height: calc(var(--roundness) - 0em);
	background: var(--midGray);
	display: flex;
	align-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
}

#slider label.inner {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--white);
	border-top-left-radius: var(--roundness) !important;
	border-bottom-left-radius: var(--roundness) !important;
	position: absolute;
	transition: all 0.15s cubic-bezier(0.5, 0.4, 0.2, 1);
	transform-origin: left;
}

#slider .emoji {
	margin-left: -0.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	transition: all 0.15s cubic-bezier(0.5, 0.4, 0.2, 1);
	border-radius: var(--roundness);
	text-align: right;
	font-size: calc(var(--roundness) * 2);
	line-height: 1.1;
}

#mainrange .rangertext {
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
}

@media(max-width: 700px) {
	#slider .emoji {
		margin-left: 0em;
		margin-top: -5px;
	}

	#slider {
		max-width: 320px;
	}
}

/* Estilos CSS para o emoji e o slider */
.emoji {
	font-size: 24px;
	display: inline-block;
	transition: transform 0.2s ease;
}

.slider-container {
	max-width: 90vw;
	/* Defina a largura máxima desejada em relação à largura da tela (90% neste exemplo) */
}


@media(max-width: 700px) {
	#mainrange .rangertext {
		display: none;
	}

	#slider .emoji {
		transform: none;
	}

	#mainrange label {
		display: block;
		width: 100%;
		;
	}
}

.considero_or_not .inputGroup input:checked~label {
color: #000;
}
.considero_or_not img {
	max-width: 100px;
}